<div id="post">
  <div class="container">

    <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-lg-10">

        <!-- Blog Post -->

        <!-- Title -->
        <h1><%= @post.title %></h1>

        <!-- Author -->
        <p class="lead">
          by <a href="/user_profile/<%= @post.user_id %>"><%= User.find(@post.user_id).username %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="fa fa-time"></span> Posted on <%= @post.date_created %></p>

        <hr>

        <!-- Post Content -->
        <p class="lead"><%= @post.content %></p>

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <div class="well">
          <h4>Leave a Comment:</h4>
          <form id="comment-form" role="form" action="/post/<%= @post.id %>" method="post">
            <div class="form-group">
              <textarea name="content" class="form-control" rows="3" form="comment-form"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        <% @post.comments.each do |comment| %>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= url('img/favicon.ico') %>" alt="">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= comment.user.username %>
                  <small><%= comment.date_created %></small>
                </h4>
                <%= comment.content %>
                <% if !comment.comment_sub_comments.nil?
                     comment.comment_sub_comments.each do |sub_comment| %>
                        <!-- Nested Comment -->
                        <div class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading"><%= sub_comment.user.username %>
                              <small><%= sub_comment.date_created %></small>
                            </h4>
                            <%= sub_comment.content %>
                          </div>
                        </div>
                        <!-- End Nested Comment -->
                    <% end %>
                <% end %>
              </div>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>