<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Search Results</h1>
      <div class="row">
        <h1>Users</h1>
        <ul>
          <% @users.each do |user| %>
              <li class="list-group-item">
                <div class="col-xs-12 col-sm-3">
                  <img src="http://api.randomuser.me/portraits/men/1.jpg" alt="Scott Stevens" class="img-fluid rounded-circle"/>
                </div>
                <div class="col-xs-12 col-sm-9">
                  <span class="name"><a href="/user_profile/<%= user.id %>"><%= user.name %></a></span><br/>
                  <span class="fa fa-star text-muted c-info" data-toggle="tooltip"></span>
                  <span class="visible-xs"> <span class="text-muted">Rating: <%= user.rating %></span><br/></span>
                  <span class="fa fa-comment text-muted c-info" data-toggle="tooltip"></span>
                  <span class="visible-xs"> <span class="text-muted">Posts: <%= user.rating %></span><br/></span>
                  <span class="fa fa-envelope text-muted c-info" data-toggle="tooltip"></span>
                  <span class="visible-xs"> <span class="text-muted"><%= user.email %></span><br/></span>
                  <a href="/add_friend/<%= user.id %>"><i class="fa fa-plus"></i>Add Friend</a>
                </div>
                <div class="clearfix"></div>
              </li>
          <% end %>
        </ul>
      </div>
      <div class="row">
        <h1>Posts</h1>
        <% @results.each do |post| %>
            <div class="col-10 offset-1 nested-div-containing-posts">
              <div>
                <img class="index-profile-image" src="<%= url('img/tile.png') %>" alt="" width="50px" height="50px">
                <h6 class='index-img-clear'>User: <b><%= User.find(post.user_id).username %></b></h6>
                <h6 class='index-img-clear'>Posted on: <%= post.date_created %></h6>
              </div>
              <div class="containment-div">
                <div class="index-title-div">
                  <h3 class="index-post-title"><%= post.title %></h3>
                </div>
                <div class="index-post-content">
                  <a class="post-link" href="/post/<%= post.id %>"> <%= post.content %> </a>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>